include:
  - project: 'sysadm-docker/ubuntu-sshclient'
    ref:     'master'
    file:    'gitlab-ci-template.yml'
  - project: 'security/security-tools'
    ref: 'v2'
    file: 'adapter/sdk/security-tools-store-ue4-sdk.yml'

stages:
  - build
  - security scan
  - deploy
  - linking
  - demo_windows
  - demo_android
  - demo_mac

variables:
    BUILD_DEMO_SCRIPT: cicd/build_demo.py
    ANDROID_SDK_ROOT: "C:\\Users\\runner\\AppData\\Local\\Android\\Sdk"
    JAVA_PATH_8:  "C:\\Program Files\\Eclipse Adoptium\\jdk-8.0.472.8-hotspot"
    JAVA_PATH_17: "C:\\Program Files\\Eclipse Adoptium\\jdk-17.0.17.10-hotspot"
    NDK_PATH_25: "C:\\Users\\runner\\AppData\\Local\\Android\\Sdk\\ndk\\25.1.8937393"
    NDK_PATH_27: "C:\\Users\\runner\\AppData\\Local\\Android\\Sdk\\ndk\\27.2.12479018"

# =================================================================================================================
# DOCS

build doc:
  stage: build
  only:
    - /^v.*/
  image: node:14-alpine3.15
  script:
  - apk update && apk add doxygen graphviz ttf-freefont zip git
  - doxygen Documentation/Autogen/Doxyfile >/dev/null
  - cd Documentation/Autogen/html && zip -r $CI_PROJECT_DIR/build.zip * >/dev/null
  artifacts:
    paths:
    - build.zip
  tags:
    - devops

deploy doc:
  stage: deploy
  extends:      .deploy doc
  only:
    - /^v.*/
  dependencies:
    - build doc
  environment:
    name: doc/$CI_COMMIT_REF_SLUG
    url: https://$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME.doc.srv.local/$URL_SLUG
    on_stop: stop doc
  when: manual
  tags:
    - sshclient

current doc:
  extends:      .current doc
  only:
    - /^v.*/
  dependencies:
    - deploy doc
  environment:
    name: doc/current
    url: https://developers.xsolla.com/sdk-code-references/unreal-store/
  tags:
    - sshclient

stop doc:
  extends:      .stop doc
  environment:
    name: doc/$CI_COMMIT_REF_SLUG
    action: stop
  only:
    - /^v.*/
  dependencies: []
  tags:
    - sshclient

# =================================================================================================================
# JOBS BASE

.win_job_base:
  variables:
    JAVA_HOME: $JAVA_PATH_17
    NDK_PATH: $NDK_PATH_25
  before_script:
    - $env:ANDROID_HOME = $env:ANDROID_SDK_ROOT
    - $env:PATH = "$env:JAVA_HOME\bin;$env:PATH"
    - $env:PATH = "$env:ANDROID_HOME\platform-tools;$env:ANDROID_HOME\tools;$env:NDK_PATH;$env:PATH"
    - $env:NDK_ROOT = $env:NDK_PATH
    - $env:NDKROOT = $env:NDK_PATH
    - $env:ANDROID_NDK_ROOT = $env:NDK_PATH
    - java -version
    - Write-Host "JAVA_HOME=$env:JAVA_HOME"
    - Write-Host "ANDROID_SDK_ROOT=$env:ANDROID_SDK_ROOT"
    - Write-Host "ANDROID_HOME=$env:ANDROID_HOME"
    - Write-Host "NDK_PATH=$env:NDK_PATH"
    - Write-Host "NDKROOT=$env:NDKROOT"
    - Write-Host "NDK_ROOT=$env:NDK_ROOT"
    - Write-Host "ANDROID_NDK_ROOT=$env:ANDROID_NDK_ROOT"
  artifacts:
    when: always
    expire_in: 3 days
    paths:
      - Builds
  dependencies: []
  tags:
    - sdk_ci
    - windows

.mac_job_base:
  when: manual
  artifacts:
    when: always
    expire_in: 3 days
    paths:
      - Builds
  dependencies: []
  tags:
    - sdk_ci
    - mac

# =================================================================================================================
# DEMO WINDOWS DEVELOPMENT BUILDS

demo_54_win_inapp_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Win64 False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE54-win-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_54_win_system_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Win64 True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE54-win-system_browser-dev-$CI_COMMIT_REF_SLUG"

demo_55_win_inapp_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Win64 False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE55-win-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_55_win_system_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Win64 True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE55-win-system_browser-dev-$CI_COMMIT_REF_SLUG"

demo_56_win_inapp_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Win64 False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE56-win-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_56_win_system_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Win64 True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE56-win-system_browser-dev-$CI_COMMIT_REF_SLUG"

demo_57_win_inapp_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Win64 False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE57-win-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_57_win_system_browser:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Win64 True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE57-win-system_browser-dev-$CI_COMMIT_REF_SLUG"

# =================================================================================================================
# DEMO WINDOWS SHIPPING BUILDS

demo_54_win_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Win64 False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE54-win-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_54_win_system_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Win64 True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE54-win-system_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_55_win_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Win64 False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE55-win-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_55_win_system_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Win64 True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE55-win-system_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_56_win_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Win64 False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE56-win-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_56_win_system_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Win64 True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE56-win-system_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_57_win_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Win64 False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE57-win-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_57_win_system_browser_shipping:
  extends: .win_job_base
  stage: demo_windows
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Win64 True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE57-win-system_browser-shipping-$CI_COMMIT_REF_SLUG"

# =================================================================================================================
# DEMO ANDROID DEVELOPMENT BUILDS

demo_54_android_inapp_browser:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Android False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE54-android-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_54_android_system_browser:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Android True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE54-android-system_browser-dev-$CI_COMMIT_REF_SLUG"

demo_55_android_inapp_browser:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Android False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE55-android-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_55_android_system_browser:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Android True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE55-android-system_browser-dev-$CI_COMMIT_REF_SLUG"

demo_56_android_inapp_browser:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Android False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE56-android-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_56_android_system_browser:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Android True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE56-android-system_browser-dev-$CI_COMMIT_REF_SLUG"

demo_57_android_inapp_browser:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Android False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE57-android-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_57_android_system_browser:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Android True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE57-android-system_browser-dev-$CI_COMMIT_REF_SLUG"

# =================================================================================================================
# DEMO ANDROID SHIPPING BUILDS

demo_54_android_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Android False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE54-android-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_54_android_system_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.4" Android True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE54-android-system_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_55_android_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Android False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE55-android-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_55_android_system_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.5" Android True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE55-android-system_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_56_android_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Android False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE56-android-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_56_android_system_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.6" Android True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE56-android-system_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_57_android_inapp_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Android False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE57-android-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_57_android_system_browser_shipping:
  extends: .win_job_base
  stage: demo_android
  variables:
    NDK_PATH: $NDK_PATH_27
  script:
    - python $env:BUILD_DEMO_SCRIPT $env:CI_PROJECT_DIR $env:CI_COMMIT_REF_NAME "5.7" Android True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE57-android-system_browser-shipping-$CI_COMMIT_REF_SLUG"

# =================================================================================================================
# DEMO MAC DEVELOPMENT BUILDS

demo_52_mac_inapp_browser:
  extends: .mac_job_base
  stage: demo_mac
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $CI_COMMIT_REF_NAME "5.2" Mac False Development False
  rules:
    - if: '$CI_COMMIT_BRANCH'
  artifacts:
    name: "demo-UE52-mac-inapp_browser-dev-$CI_COMMIT_REF_SLUG"

demo_52_mac_system_browser:
  extends: .mac_job_base
  stage: demo_mac
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $CI_COMMIT_REF_NAME "5.2" Mac True Development False
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE52-mac-system_browser-dev-$CI_COMMIT_REF_SLUG"

# =================================================================================================================
# DEMO MAC SHIPPING BUILDS

demo_52_mac_inapp_browser_shipping:
  extends: .mac_job_base
  stage: demo_mac
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $CI_COMMIT_REF_NAME "5.2" Mac False Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE52-mac-inapp_browser-shipping-$CI_COMMIT_REF_SLUG"

demo_52_mac_system_browser_shipping:
  extends: .mac_job_base
  stage: demo_mac
  script:
    - python3 $BUILD_DEMO_SCRIPT $CI_PROJECT_DIR $CI_COMMIT_REF_NAME "5.2" Mac True Shipping True
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  artifacts:
    name: "demo-UE52-mac-system_browser-shipping-$CI_COMMIT_REF_SLUG"
